<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<xml packages="net.openhft.chronicle.logger,net.openhft.chronicle.logger.log4j2">
	<!-- ******************************************************************* -->
	<!-- APPENDERS                                                           -->
	<!-- ******************************************************************* -->
	<appenders>

		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="[CHRONOLOGY] [%-5p] %c - %m%n%throwable{none}" />
		</Console>

		<Chronicle name="CHRONICLE">
			<path>${sys:java.io.tmpdir}/chronicle-log4j2/binary-chronicle</path>
			<chronicleCfg>
				<blockSize>128</blockSize>
				<bufferCapacity>256</bufferCapacity>
			</chronicleCfg>
		</Chronicle>

	</appenders>

	<!-- ******************************************************************* -->
	<!-- LOGGERS                                                             -->
	<!-- ******************************************************************* -->

	<loggers>

		<root level="all">
			<appender-ref ref="STDOUT" />
		</root>

		<logger name="chronicle" level="trace" additivity="false">
			<appender-ref ref="CHRONICLE" />
		</logger>

		<!-- *************************************************************** -->
		<!--                                                                 -->
		<!-- *************************************************************** -->

		<logger name="net.openhft" level="warn" />

	</loggers>

</xml>